<div class="container">

    <div class="card" style="margin: 10px 0;">
        <div class="card-body">
            <button type="button" class="btn btn-success" (click)="openModal()">Nuevo Libro</button>
        </div>
    </div>

    <table mat-table style="width: 100%;" [dataSource]="books" class="mat-elevation-z8">

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="header-table"> Imagen </th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" class="img-book" alt=""> </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="header-table"> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef class="header-table"> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef class="header-table"> Autor </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>

        <ng-container matColumnDef="edition">
            <th mat-header-cell *matHeaderCellDef class="header-table"> Edicion </th>
            <td mat-cell *matCellDef="let element"> {{element.edition}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="header-table" style="width: 40%;"> Descripcion </th>
            <td mat-cell *matCellDef="let element" style="text-align: justify;"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="opcs">
            <th mat-header-cell *matHeaderCellDef class="header-table" style="width: 10%;"> Opcs. </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-icon style="cursor: pointer;" (click)="openModal(element)">edit</mat-icon>
                <mat-icon style="cursor: pointer;" (click)="deleteBook(element)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-spinner *ngIf="books.length === 0" style="margin: auto;" [diameter]="80"></mat-spinner>

</div>