.img-book{
    width: 100px;
    margin: 10px;
}

.header-table{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.input-image {
    display: block; 
    text-align: start; 
    cursor: pointer;
}