<h1>Hola</h1>

<p>inserte numeros separados por "," <input type="text" [(ngModel)]="datos" placeholder="ej 1,6,3,3,4"></p>
<button (click)="ordenar()">Ordenar</button>

<p>El resultado es: {{res}}</p>
<ul>
    <div *ngFor="let alumno of alumnos">
        <li *ngIf="alumno.id %2 == 0" class="elemento">{{alumno.nombre}} </li>
    </div>
</ul>

<ul>
    <div *ngFor="let alumno of alumnos">
        <div [ngSwitch]="alumno.id">
            <li *ngSwitchCase="1">{{alumno.nombre}} </li>
            <li *ngSwitchCase="3">{{alumno.nombre}} </li>
            <li *ngSwitchDefault>{{alumno.id}} </li>
        </div>
    </div>
</ul>
